# System Configuration
HTTP_PORT=3000

# InfluxDB Cloud Credentials
INFLUXDB_URL=https://us-east-1-1.aws.cloud2.influxdata.com
INFLUXDB_ORG=fig-ure-org
INFLUXDB_BUCKET=fig-ure-telemetry
INFLUXDB_TOKEN=your-influxdb-cloud-token

# Video Stream + Snapshots
SNAPSHOT_INTERVAL_SEC=300
YOUTUBE_LIVE_URL=rtmp://a.rtmp.youtube.com/live2
YOUTUBE_STREAM_KEY=your-youtube-stream-key
WEBCAM_DEVICE=/dev/video0
